<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="GoToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        </ion-buttons>
         <ion-title class="ion-text-center">Sports</ion-title>
         <ion-buttons slot="end">
         <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <agm-map *ngIf="currentCenter" 
              [latitude]="currentCenter.lat" 
              [longitude]="currentCenter.long"
              [zoom]="zoomByDefault">

    <!--marcador para mostrar la ubicacion de la persona en cuestion-->
    <agm-marker [latitude]="currentCenter.lat" 
                [longitude]="currentCenter.long"
                [iconUrl]="marker">
     
    </agm-marker>
    <!--crear la polilinea para mostrar el recorrido del usuario por el mapa-->
    <agm-polyline [strokeColor]="'cyan'" *ngIf="coordinates">
      <agm-polyline-point *ngFor="let coords of coordinates"
                           [latitude]="coords.lat" 
                           [longitude]="coords.long">
      </agm-polyline-point>
    </agm-polyline>
   </agm-map>
</ion-content>

