<ion-content>
  <ion-slides  pager="true" [options]="slideOpts"><!--pager="true" indicadores que indican en que slider se encuentra el usuario-->
    
    <ion-slide *ngFor="let slide of slides">
      <ion-icon name="close" (click)="finish()"></ion-icon>
        <img src="/assets/img/logo.png" alt="{{slide.imageAlt}}">
        <h1>{{slide.title}}</h1>
        <h2>{{slide.subTitle}}</h2>
        <P>
          {{slide.description}}
        </P>
        <ion-icon name="{{slide.icon}}"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
