ion-content {
    --background: var(--ion-color-success);
    font-family: "Times New Roman", Times, serif;
  }
  
  ion-slides{
    background-color: #ffff;
    height: 100%;
    max-width: 800px;
  }
  
  .swiper-slide{
    display: block;
    margin-bottom: 64px;
    background-color: #ffff;
  }
  
  ion-slide > h1, h2{
    margin: 0;
    color: var( --ion-color-primary);
  }
  
  ion-slide > p{
    font-style: italic;
    font-size: 22px;
    padding: 1rem;
  }
  
  ion-slide > ion-icon{
    color: var(--ion-color-success);
    font-size: 50px;
  }
  
  ion-slide > ion-icon[name="close"]{
    float: right;
    color: var(--ion-color-primary);
    font-size: 48px;
  }
  
  ion-slide >img{
    max-width: 60%;
    max-height: 50%;
    margin: 64px 0;
  }