
ion-avatar{
    height: 120px;
    width: 90%;
}

ion-avatar img{
    width: 90px;
    height:65px;
}

span{
    font-size: 13px;
}

.square-avatar{
  --border-radius:0;
}

.prueba{
    animation: slidein 7s ease-in infinite; 
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%
    }
  
    to {
      margin-left: -100%;
      width: 100%;
    }
  }